@model MVCPublishersProject.Models.Author

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Author</legend>

    <div class="display-label">First Name</div>    
    <div class="display-field">@Model.FirstName</div>

    <div class="display-label">Last Name</div>
    <div class="display-field">@Model.LastName</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
