@model MVCPublishersProject.Models.PhoneType
    

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

<fieldset>
    <legend>PhoneTyp</legend>
    
    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>
</fieldset>

@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delet"/>
        @Html.ActionLink("Back to list","Index")
    </p>
}

